.app-wrapper{
  display: grid;
  margin: 0 auto;
  width: 1200px;

  grid-template-areas: 
  "header header"
  "navbar content";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content{
  grid-area: content;
  max-width: 1000px;
  background-color: #efe8ff;
}